*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url("./Images/BgImage.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
}

#bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 8, 0, 0.9);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 2;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  padding-inline: 4rem;
  padding-block: 1rem;
  background-color: rgb(231, 101, 9);
  border-radius: 20% 20% 30% 30% / 0% 0% 100% 100%;
  outline: 0.3rem solid white;
}

nav button {
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
}

#content {
  width: 100vw;
  height: calc(100vh - 93px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.homeText {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  z-index: 2;
  text-align: center;
  padding-inline: 8rem;
  color: white;
}

.HeaderText {
  font-size: 3.9rem;
  text-align: left;
  font-weight: 800;
  line-height: 0.9;
}
.textDescription {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.menuButton {
  display: flex;
  align-self: flex-start;
  margin-top: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  font-size: 2rem;
  background-color: rgb(231, 101, 9);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 900;
  color: white;
  outline: 0.3rem solid white;
}
#chefImg {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40rem;
  height: 40rem;
  z-index: 2;
}
